<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>ثبت نیکوکاری</title>
    <link href="{% static 'css/request_task.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/tags.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
    {% if task %}
            <div class="d-flex flex-column justify-content-center w-100 h-100" style="text-align:center" dir="rtl">

              <div class="d-flex flex-column justify-content-center align-items-center">
                <h1 class="fw-light text-white m-0">اطلاعات در مورد این نیکوکاری</h1>
              </div>
                <form method="post">
                      {% csrf_token %}
                        <h3>
                             عنوان نیکوکاری : {{ task.title }}
                        </h3>
                        <h3>
                            زمان ثبت نیکوکاری : {{ task.date }}
                        </h3>
                        <h3>
                            نام خیریه مربوطه : {{ task.charity }}
                        </h3>
                        <h3>
                            توضیحات نیکوکاری :
                        </h3>
                        <p>{{ task.description }}</p>
                        <h4> در صورت مورد قبول بودن شرایط دکمه ثبت را بزنید و برای موسسه مربوطه درخواست ارسال میشود. </h4>
                      <div class="wrap">
                            <button class="button" type="submit">ثبت</button>
                      </div><br>
                      <a href="{% url 'list_taskes' %}" class="underline" style="color: black">بازگشت</a>

                    </form>
            </div>
    {% elif benefactor %}
            <div class="d-flex flex-column justify-content-center w-100 h-100" style="text-align:center" dir="rtl">

              <div class="d-flex flex-column justify-content-center align-items-center">
                <h1 class="fw-light text-white m-0">اطلاعات نیکوکار</h1>
              </div>
                <form method="post">
                      {% csrf_token %}
                        <h3>

                        </h3>
                        <h3>
                            نام کاربری : {{ user.username }}
                        </h3>
                        <h3>
                            نام و نام خانوادگی : {{ user.first_name }} {{ user.last_name }}
                        </h3>
                        <h3>
                            سن / جنسیت : {{ user.age }} / {{ user.get_gender_display }}
                        </h3>
                        <h3>
                            تجربه نیکوکار : {{ benefactor.get_experience_display }}
                        </h3>
                        <h3>
                            زمان ازاد در هفته نیکوکار : {{ benefactor.free_time_per_week }} ساعت
                        </h3>
                      <div class="wrap">
                            <input class="button" type="submit" style="color:white;background:green" value="قبول"
                                   name="accept">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="button" type="submit"
                            style="color:white;background:red" value="رد" name="reject">
                      </div><br>
                      <a href="{% url 'task_ch_be' %}" class="underline" style="color: white">بازگشت</a>

                    </form>
            </div>

    {% endif %}
</body>
</html>