<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>تکمیل پروفایل</title>
    <link href="{% static 'css/button.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <h2 style="color:#DFE1E8">لطفا نوع کاربری خود در سایت را انتخاب کنید </h2>
    <div class="container">
          <div class="btn"><a href="{% url 'charity' %}">خیریه</a></div>
          <div class="btn"><a href="{% url 'benefactor' %}">نیکوکار</a></div>
    </div>
</body>
</html>