<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>لیست من</title>
    <link href="{% static 'css/tags.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/list_taskes.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/message.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- /success messaging -->
        {% if messages %}
                <div class="alert success" dir="rtl">
                    <input type="checkbox" id="alert2"/>
                    <label class="close" title="close" for="alert2">
                  <i class="icon-remove" dir="rtl">x</i>
                </label>
                    <p class="inner">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </p>
                </div>

        {% endif %}
  <!-- /success messaging -->
{% if tasks_ch %}
        <h1 dir="rtl">لیست نیکوکاری ها ثبت شده توسط خیریه {{charity}} </h1>
        <h4>. در زیر لیست نیکوکاری های که توسط شما ایجاد شده نمایش داده شده است </h4>
        <h4 dir="auto">نیکوکاری های که نیکوکار برای انجام ان درخواست داده است دیگر قابل تغییر نمی باشد .</h4>
        <h4 dir="auto">برای قبول یا رد درخواست نیکوکار بر روی اسم ان کلیک کنید .</h4>
        <table class="table">
          <tr>
            <th class="table__heading">عنوان</th>
            <th class="table__heading">وضعیت</th>
            <th class="table__heading">زمان ثبت</th>
            <th class="table__heading">تغییر</th>
            <th class="table__heading">اتصال به نیکو کار</th>
            <th class="table__heading">حذف</th>
          </tr>
          {% for task in tasks_ch %}
              <tr class="table__row">
                    <td class="table__content" data-heading="Player">{{ task.title }}</td>
                    <td class="table__content" data-heading="Points">{{ task.get_state_display }}</td>
                    <td class="table__content" data-heading="Jersey Number">{{ task.date }}</td>
                    <td class="table__content" data-heading="Jersey Number">
                        {% if task.assigned_benefactor == None %}
                            <a href="{% url 'update_delete' 'change' task.id %}" class="underline">کلیک کنید</a>
                        {% elif task.assigned_benefactor != None %}
                            <a href="#" style="color:red">قابل تغییر نیست</a>
                        {% endif %}
                    </td>
                    <td class="table__content" data-heading="Jersey Number">
                        {% if task.assigned_benefactor %}
                            <a class="underline" href="{% url 'show_be' task.assigned_benefactor.id %}">
                                {{ task.assigned_benefactor }}</a>
                        {% elif task.assigned_benefactor == None %}
                            نیکوکاری درخواست نداده است
                        {% endif %}
                    </td>
                    <td class="table__content" data-heading="Jersey Number">
                        <a href="{% url 'update_delete' 'delete' task.id %}"
                           class="underline" style="color:red">حذف</a>
                    </td>
              </tr>
          {% endfor %}
        </table>
{% elif tasks_be %}
        <h1>درخواست های داده شده توسط من </h1>
        <h4 dir="rtl"> درخواست های که شما به خیریه ها ارسال کردید در زیر اورده شده و وضعیت ان مشخص است . </h4>
        <table class="table">
          <tr>
            <th class="table__heading">اسم خیریه ها</th>
            <th class="table__heading">عنوان</th>
            <th class="table__heading">وضعیت</th>
            <th class="table__heading">زمان ثبت نیکوکاری</th>
            <th class="table__heading">توضیحات</th>
          </tr>
          {% for task in tasks_be %}
              <tr class="table__row">
                    <td class="table__content" data-heading="Player">{{ task.charity }}</td>
                    <td class="table__content" data-heading="Seasons">{{ task.title }}</td>
                    <td class="table__content" data-heading="Points">{{ task.get_state_display }}</td>
                    <td class="table__content" data-heading="Jersey Number">{{ task.date }}</td>
                    <td class="table__content" data-heading="Jersey Number">
                        <div class="page">
                          <div class="page__container">
                            <a href="#{{ forloop.counter }}" class="open-popup">کلیک کنید</a>
                          </div>
                        </div>
                        <div id="{{ forloop.counter }}" class="popup">
                          <div class="popup__container">
                            <a href="#" class="popup__close">
                              <span class="screen-reader">close</span>
                            </a>
                            <div class="popup__content">
                              <h1 class="popup__title r-title" dir="auto">توضیحات درباره این نیکوکاری</h1>
                                <p dir="auto">{{ task.description }}</p>
                            </div>
                          </div>
                        </div>
                    </td>
              </tr>
          {% endfor %}
        </table>
{% endif %}
<a href="{% url 'home' %}"  class="open-popup"><h4 style="text-align:center">بازگشت به خانه</h4></a>
</body>
</html>