<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body style="background:#1A3863">
    <section style="position: absolute;
                   left:390px; top:280px">
        <button style="background-color: #4080DE;
                          color: #05152C;
                          padding: 15px 32px;
                          text-align: center;
                          font-size: 16px;"
                        >
                <a href="http://localhost:8000/accounts/register_user">Register_user</a></button>
        <button style="background-color: #4080DE;
                          color: #05152C;
                          padding: 15px 32px;
                          text-align: center;
                          font-size: 16px;">
                <a href="http://localhost:8000/charities/charities">charities</a></button>
        <button style="background-color: #4080DE;
                          color: #05152C;
                          padding: 15px 32px;
                          text-align: center;
                          font-size: 16px;">
                <a href="http://localhost:8000/charities/benefactors">Benefactors</a></button>
    </section>


</body>
</html>