<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>تعویض رمز عبور</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/tags.css' %}" rel="stylesheet" type="text/css">
</head>
<!-- Error messaging -->
{% if form.errors %}

    {% for field in form %}
        {% if field.errors %}
            <div class="alert2" dir="rtl">
              <span class="closebtn2" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ field.label }}: {{ field.errors|striptags }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<!-- /Error messaging -->
<body>
    <div class="login">
              <div class="login-triangle"></div>

              <h2 class="login-header">تعویض رمز عبور کاربر</h2>
              <form method="POST" dir="rtl">
                    {% csrf_token %}
                    <p>{{ form.email }}</p>
                    <p>{{ form.password_new }}</p>
                    <p>{{ form.re_password_new }}</p>
                    <p><input type="submit" value="ثبت"></p>
              </form>
    </div>
</body>
</html>