<!doctype html>
<html lang="fa">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link href='https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css' rel='stylesheet'
          type='text/css'>

    <title>About Us</title>

    <style>
        body {
            font-family: Vazir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif !important;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .section-divider {
            border-top: 1px solid rgba(34, 36, 38, .15);
            border-bottom: 1px solid rgba(255, 255, 255, .1);
        }

        p {
            line-height: 2.2em;
            color: rgb(50, 50, 50)
        }

        h2 {
            margin-top: 30px;
        }
    </style>
</head>
<body dir="rtl">

<div>
    {% include "./header.html" %}
    <section>
        <div class="p-5 text-center">
            <h1>درباره پروژه</h1>
        </div>
    </section>
    <div class="section-divider"></div>
    <main>
        <section class="text-right py-5 bg-light">
            {% include "./about_texts.html" %}

        </section>
        <div class="section-divider"></div>
        <section class="text-right">
            <div class="container mx-auto" style="width: 60%">
                <h2 class="text-center my-5">درباره کاریار</h2>
                <p>
                کاریار استارت‌آپی اجتماعی و متعهد به عدالت، دسترسی و فرصت همگانی است که با ایجاد محیطی با دسترسی مناسب در زمینه‌ی آموزش IT به خصوص کدنویسی، فرصت رشد و پیشرفت را برای تمام اقشار جامعه فارغ از طبقه‌بندی‌های اجتماعی و انتزاعی موجود، فراهم می‌کند.
                کاریار معتقد است که مشارکت فعال و آگاهانه در جامعه‌ی دیجیتالی امروز، نیازمند یادگیری علوم کامپیوتر است و برای دستیابی به این هدف، همواره تلاش می‌کند موانعی که از ورود و مشارکت جلوگیری می‌کند را شناسایی کرده و از بین ببرد.
                به این ترتیب دانشجویان فارغ التحصیل شده از کاریار، توانایی مقابله با مشکلات منحصر به فرد عصر دیجیتال و حل مسئله را خواهند داشت. به عبارت دیگر، کاریار فقط آموزش نیست، آموزش معطوف به کسب و کار است.
                </p>
                <h2 class="text-center my-5">فلسفه کاریار</h2>
                <p>
                    ما اعتقاد داریم آموزش IT با استانداردهای جهانی و کیفیت مناسب باید در دسترس عموم باشد و
                    هر فردی فارغ از جنسیت، نژاد، قومیت، هویت، درآمد خانواده، محل زندگی خود و
                    … باید امکان آموزش را داشته باشد.
                    کاریار قصد دارد تا فرصت آموزش را برای تک‌تک افراد با انگیزه و علاقه‌مند به پیشرفت در کشور فراهم کند.
                    برای حرکت در راستای این دیدگاه، با موسسه‌ها و افراد بی‌شماری که به ایجاد، تامین اعتبار و گسترش آموزش علوم کامپیوتر کمک کرده‌اند همکاری می‌کنیم و
                    برای هدایت مهارت‌آموزها در نیل به پروژه‌های نهایی و حل تمرین از گروه داوطلب‌های کاریار بهره می‌جوییم
                </p>
                <h2 class="text-center my-5">تاریخچه کاریار</h2>
                <p>
                    کمی بعد از آغاز پاندمی کرونا و
                    در ابتدای سال۱۳۹۹، بنیانگذاران کاریار با مشاهده اثرات جبران‌ناپذیر کرونا از یک سو، از جمله اختلال در کسب و کارهای بزرگ و کوچک و بیکاری حاصل از آن و از سوی دیگر رونق کسب و کارهای آنلاین‌، تصمیم به راه‌اندازی کاریار گرفتند.
                    بنابراین با تشکیل تیمی مجرب از افراد متخصص و حرفه‌ای در گرایش‌های کارآفرینی، توانمندسازی اقتصادی، مشاوره‌ی مدیریت و سلامت عمومی، استارت‌آپ اجتماعی کاریار تاسیس شد
                    تا با آموزش آنلاین دانش کامپیوتر و به خصوص کدنویسی، فرصت اشتغال از راه دور را برای عموم علاقه‌مندان فراهم کند.
                </p>
                <h2 class="text-center my-5">ویژگی های کاریار</h2>
                <ul>
                    <li>تعاون و همکاری سازنده برای ساخت جهانی متفاوت‌تر</li>
                    <li>عدم دریافت هزینه تا ورود به کسب و کار</li>
                    <li>سرمایه‌گذاری روی افراد علاقه‌مند و خلاق</li>
                    <li>قرار دادن صداقت، وجدان کاری و مسئولیت‌پذیری و کار تیمی</li>
                    <li>پشتکار و تلاش بی وقفه تا حصول نتیجه‌ی نهایی</li>
                    <li>رعایت عدالت در ایجاد فرصت‌های برابر برای عموم افراد و فارغ از تمام مرزبندی‌های موجود</li>
                    <li>به روز‌کردن متناوب اطلاعات علوم کامپیوتر و انعطاف‌پذیری لازم همگام با تغییرات پیشرونده‌ی دنیای دیجیتال</li>
                </ul>
            </div>
            <hr>
        </section>
        <section>
            <div class="container mx-auto" style="width: 60%">
                <div class="container">
                    {% block team_members %}{% endblock %}
                </div>
            </div>
        </section>
    </main>
</div>

</body>
</html>