<div class="container mx-auto" style="width: 60%">
    <div class="container">
        <p>
           این سایت طراحی شده توسط یکی از کارکنان موسسه خیریه سلوک پویا و مهارت اموز موسسه کاریار
            میباشد در ادامه درباره خیریه سلوک میپردازیم.
        </p>
        <p>
            گروهی از خیرین نیکوکار، در سال 1392 با علاقه و همت مشترک گرد هم آمده،
            با هدف والای "اهدای بورسیه تحصیلی به فرزندان با استعداد نیازمند" ، فعالیت‌هایی خیر خواهانه و فرهنگی خود را در قالب مؤسسه نیکوکاری
            سلوک پویا که طبق اساسنامه تحت نظر هیأت امنا و هیأت‌ مدیره مشغول فعالیت میباشد تأسیس و کار خود را با شناسایی
            و حمایت از تعداد محدودی دانش‌آموز شروع کردند و هم‌اکنون پس از حدود هفت سال، حدود ششصد فرزند با استعداد دلبسته تحصیل را حمایت می‌کنند.
        </p>
    </div>
</div>