<header style="position: sticky; top: 0;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center"
         style="width: 100%">
        <div class="m-auto" style="width: 60%;">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarText" aria-controls="navbarText"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto" style="padding: 0 10px 0 0;">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            خانه
                        </a>
                    </li>
                    {% if user_site.is_charity %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'tasks' %}">ثبت نیکوکاری</a>
                        </li>
                    {% endif %}
                    {% if user_site.is_benefactor %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'list_taskes' %}">درخواست نیکوکاری</a>
                        </li>
                    {% endif %}
                    {% if not user_site.is_benefactor or user_site.is_charity %}
                        <li class="nav-item">
                                <a class="nav-link"
                                   href="{% url 'list_taskes' %}">نیکوکاری ها</a>
                        </li>
                    {% endif %}
                    {% if user_site == None %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'register' %}">ثبت نام</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'login' %}">ورود</a>
                        </li>
                    {% endif %}
                    {% if user_site %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'select' %}"
                               id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                پروفایل
                            </a>
                            <div class="dropdown-menu text-right"
                                 aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                   href="http://localhost:3000/benefactor">نیکوکار</a>
                                <a class="dropdown-item"
                                   href="http://localhost:3000/charity">موسسه خیریه</a>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">
                            درباره‌ما
                        </a>
                    </li>
                    {% if user_site %}
                        <li class="nav-item">
                                <a class="nav-link"
                                   href="{% url 'logout' %}" style="color:#FF534D">خروج کاربر</a>
                        </li>
                    {% endif %}

                </ul>
                {% if user_site %}
                    <span class="navbar-text">
                      <button type="button" class="btn btn-danger"
                              style="padding: 7px 20px">{{ user_site }}</button>
                    </span>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
