<div class="container mx-auto" style="width: 60%">
    <div class="container">
      <h4>ساختار این سایت :</h4>
        <p>
          هدف از پروژه این دوره طراحی بستری اینترنتی برای ایجاد ارتباط بین مراکز خیریه و نیکوکاران است تا به
          این ترتیب برقراری ارتباط بین خیرین و نیازمندهای موجود تسهیل گردد.
          از آن‌جایی که برخی از نیازمندی‌های موجود، ماهیتی غیر نقدی دارند و نیازمند مهارت و تخصص فردی هستند، وجود
          سامانه‌ای که به صورت سیستماتیک این نیازمندی‌ها را مشخص و با افراد توانمند و متناسب مرتبط سازد احساس می‌شود.
          به عنوان مثال توانایی نگه‌داری از سالمندان یا کودکان و یا تخصص در حیطه‌ای
          آموزشی برای تدریس داوطلبانه در منطقه‌ای محروم دسته‌ای از نیازمند‌ی‌ها هستند که در دسته‌ی نیازمندی‌های غیر نقدی قرار می‌گیرند و نیاز به فردی متخصص دارند.
        </p>
        <p>
            مکانیزم کلی این سامانه به این صورت است که در آن مراکز خیریه نیازهای خود را در قالب پروژه تعریف کرده
          و نیکوکاران از بین این نیازها مورد یا مواردی که با توانمندی و زمان آن‌ها سازگار است را انتخاب می‌کنند و
          برای آن درخواست می‌دهند. پروژه‌های تعریف شده دارای مشخصات و نیازمندی‌هایی هستند که شخص
          نیکوکار می‌تواند با جست‌و‌جو بر اساس این مشخصات پروژه‌ی مطلوب خود را بیابد.
          سپس موسسه‌ی خیریه با در نظر گرفتن شرایط نیکوکار می‌تواند درخواست وی را رد و یا قبول کند.
        </p>
        <ul>
          <li>کاربران(چه موسسه‌ها و چه نیکوکاران) می‌توانند در این سیستم عضویت پیدا کنند.</li>
          <li>نیکوکاران می‌توانند درخواست بدهند برای یک نیازمندی که آن را می‌خواهند انجام دهند.</li>
          <li>موسسه‌ها می‌توانند طبق شرایط بپذیرند که این عمل را این نیکوکار انجام دهد و یا خیر.</li>
          <li>موسسه‌ها می‌توانند در صورت تمام شدن یک نیازمندی آن را تمام شده اعلام کنند.</li>
        </ul>
    </div>

</div>